@import "variables";

@mixin horizontal-scroll-panel-container {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 50px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.65);
    }
  }
}

@mixin scroll-panel {
  $width: 75px;
  min-width: $width;
  color: white;
  background: $blue-2;
  background: linear-gradient(145deg, rgba($blue-2, 1) 0%, rgba($blue-1, 1) 100%);
  transition: all 0.3s ease-in-out;
  scroll-snap-align: start;

  .main-infos {
    width: $width;
  }

  &:hover {
    .weather-icon {
      .animated {
        display: block;
      }

      .static {
        display: none;
      }
    }
  }

  .weather-icon {
    .animated {
      display: none;
    }

    .static {
      display: block;
    }
  }
}
