.dark-blue-text-gradient{
  background: rgb(51,104,255);
  background: linear-gradient(180deg, rgba(51,104,255,1) 0%, rgba(30,58,138,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
