<div
  [ngClass]="{'hour-item-night': isNight()}" class="clay h-full py-2 rounded-2xl hour-item"
  *ngIf="hourItem"
>
  <div class="font-bold text-center">
    {{hourItem.getCalculationDate().toLocaleTimeString('en-US', {hour: '2-digit', hour12: false, minute: '2-digit'})}}
  </div>
  <div class="font-light text-sm opacity-75 text-center">
    {{hourItem.getCalculationDate().toLocaleDateString('en-US', {weekday: 'short'})}}
  </div>

  <img
    class="w-16 mx-auto"
    [matTooltip]="hourItem.weatherInfos[0].main"
    [src]="'assets/weather-icons/'+hourItem.weatherInfos[0].getIconName()"
    [alt]="hourItem.weatherInfos[0].main"
  >

  <div class="mt-5 text-1xl text-center w-fit mx-auto font-extrabold">
    {{hourItem.getTemperature()}}°
  </div>
</div>
