@import "src/app/scss/mixins";
@import "src/app/scss/variables";

.hour-item {
  @include scroll-panel();

  &:hover {
    width: 125px;
  }
}

.hour-item-night {
  background: $blue-1 !important;
  background: linear-gradient(145deg, rgba($blue-1, 1) 0%, rgba($dark-blue-1, 1) 100%) !important;
  color: white;
}
