.daily-item {
  $width: 75px;
  min-width: $width;
  color: white;
  background: rgb(100, 179, 255);
  background: linear-gradient(145deg, rgba(100, 179, 255, 1) 0%, rgba(58, 134, 208, 1) 100%);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  scroll-snap-align: start;

  &:hover {
    .extension-panel {
      width: 190px;
      border-left: solid 2px rgba(59, 130, 246, 1);
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }

  .main-infos {
    width: $width;
  }

  .extension-panel {
    width: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    border-left: solid 2px rgba(59, 130, 246, 0);
    transform-origin: right center;
  }
}

.today {
  background: rgb(255, 205, 128);
  background: linear-gradient(145deg, rgba(255, 205, 128, 1) 0%, rgba(255, 189, 88, 1) 100%);
}
