.daily-item {
  $width: 75px;
  min-width: $width;
  color: rgb(31 41 55);
  background: rgb(51, 104, 255);
  background: linear-gradient(145deg, rgba(51, 104, 255, 1) 0%, rgba(241, 246, 255, 1) 0%, rgba(195, 217, 255, 1) 100%);
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  &:hover {
    .extension-panel {
      width: 190px;
      border-left: solid 2px rgba(59, 130, 246, 1);
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }

  .main-infos {
    width: $width;
  }

  .extension-panel {
    width: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    border-left: solid 2px rgba(59, 130, 246, 0);
    transform-origin: right center;
  }
}
