@import "src/app/scss/mixins";
@import "src/app/scss/variables";


.daily-item {
  @include scroll-panel();
  overflow: hidden;

  &:hover {
    .extension-panel {
      width: 190px;
      border-left: solid 2px $blue-1;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }

  .extension-panel {
    width: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    border-left: solid 2px rgba(59, 130, 246, 0);
    transform-origin: right center;
  }
}

.today {
  background: $yellow-1;
  background: linear-gradient(145deg, rgba($yellow-1, 1) 0%, rgba($yellow-2, 1) 100%);

  .extension-panel {
    border-left-color: $dark-yellow-1 !important;
  }
}
