<div class="min-h-full lg:h-full w-full display-panel lg:display-panel-lg">
  <div
    *ngIf="onecallWeather; else noWeather" class="lg:h-full lg:overflow-y-auto relative z-10 drop-shadow-xl text-white"
  >
    <div class="p-4 pt-10 lg:pt-4">
      <app-display-unit></app-display-unit>

      <app-base-infos
        [geocodeName]="geocode ? geocode.name : ''"
        [calculationDate]="onecallWeather.currentWeather.getCalculationDate()"
      ></app-base-infos>

      <app-current-temperature
        [currentWeather]="onecallWeather.currentWeather"
      ></app-current-temperature>

      <app-current-temperature-details
        [currentWeather]="onecallWeather.currentWeather"
      ></app-current-temperature-details>
    </div>

    <div class="lg:ml-4">
      <div class="mt-10">
        <app-hourly-display [hourlyWeather]="onecallWeather.hourlyWeather"></app-hourly-display>
      </div>

      <div class="mt-10">
        <app-daily-display [dailyWeather]="onecallWeather.dailyWeather"></app-daily-display>
      </div>
    </div>
  </div>

  <ng-template #noWeather>
    <div class="relative z-10 text-white pt-16">
      <h2 class="text-center font-black text-4xl">
        Select a city!
      </h2>
    </div>
  </ng-template>
</div>
